@charset "UTF-8";

*
{

    margin: 0;
    padding: 0;

}

body
{

    background-color: #ee42288a;
    font-family: 'Courier New', Courier, monospace;

}

img#logo
{

    height: 240px;       
    
}

header
{

    width: 50%;
    height: 80px;
    margin-left: 1%;
    margin-top: -3%;

}

h1
{

    text-align: center;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-top: 1%;

}

div#registration_area
{

    background-color:whitesmoke;
    width: 50%;
    height: 400px;
    margin: auto;
    margin-top: 5%;

}

p#section
{

   padding-top: 3%;
   padding-left: 3%;
   font-size: 1.3rem;

}


input#box_products
{

    height: 30px;
    width: 50%;
    font-size: 1rem;

}

input#button
{

    height: 30px;
    width: 20%;
    margin-left: 51%;
    margin-top: 2%;
    font-size: 1rem;
}

input.button_information
{

    height: 30px;
    width: 28%;
    margin-left: 3%;
    margin-top: 2%;
    font-size: 1rem;

}

input#button:hover,input.button_information:hover
{

    color: red;
    font-weight: bolder;

}

select#products_list, #products_list2, #products_list3
{

    margin-top: 2%;
    width: 28%;
    margin-left: 3%;
    font-size: 1rem;
    

}

div#result
{

    text-align: center;
    margin-top: 10%;
    font-size: 1.2rem;
    font-weight: bolder;
    color:rgba(0, 0, 255, 0.534);

}

/*Mobiles Screens*/

@media(max-width: 768px)
{

    img#logo
    {

        height: 140px;        

    }

    header
    {

        width: 50%;
        height: 80px;
        margin-left: 1%;        

    }

    h1
    {

        text-align: center;
        color: whitesmoke;
        font-weight: bolder;
        font-size: 2rem;
        margin-top: 8%;

    }

    div#registration_area
    {

        background-color:whitesmoke;
        width: 90%;
        height: 500px;
        margin: auto;
        margin-top: 5%;

    }

    p#section
    {

       padding-top: 5%;       
       font-size: 1rem;
       text-align: center;

    }

    input#box_products
    {
    
        height: 30px;
        width: 80%;
        font-size: 0.8rem;
        margin-top: 3%;
    
    }

    input#button
    {

        height: 30px;
        width: 40%;
        margin-left: 30%;
        margin-top: 3%;
        font-size: 1rem;
    }

    input.button_information
    {

        height: 30px;
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
        font-size: 1rem;

    }

}

/*Short laptop Configuration*/

@media(min-width: 769px) and (max-width:1024px)
{

    img#logo
    {

        height: 145px;        

    }

    header
    {
    
        width: 50%;
        height: 80px;
        margin-left: 1%;
        margin-top: -3%;
    
    }
    
    h1
    {
    
        text-align: center;
        color: whitesmoke;
        font-weight: bolder;
        font-size: 2.5rem;
        margin-top: 2%;
    
    }
    
    div#registration_area
    {
    
        background-color:whitesmoke;
        width: 60%;
        height: 400px;
        margin: auto;
        margin-top: 5%;
    
    }

    p#section
    {

       padding-top: 3%;
       padding-left: 3%;
       font-size: 1rem;

    }


    input#box_products
    {

        height: 30px;
        width: 50%;
        font-size: 1rem;

    }

    input#button
    {

        height: 30px;
        width: 20%;
        margin-left: 51%;
        margin-top: 2%;
        font-size: 1rem;
    }

    input.button_information
    {

        height: 30px;
        width: 28.5%;
        margin-left: 3%;
        margin-top: 2%;
        font-size: 0.8rem;

    }

    input#button:hover,input.button_information:hover
    {

        color: red;
        font-weight: bolder;

    }

    select#products_list, #products_list2, #products_list3
    {

        margin-top: 2%;
        width: 28%;
        margin-left: 3%;
        font-size: 1rem;


    }

    div#result
    {

        text-align: center;
        margin-top: 10%;
        font-size: 1.2rem;
        font-weight: bolder;
        color:rgba(0, 0, 255, 0.534);


    }

}